%ul.nav.nav-pills.nav-stacked
	%li{class: classification_controller('Event')}
		= link_to 'Events', admin_events_path
	%li{class: classification_controller('Category')}
		= link_to 'Categories', admin_categories_path