<!doctype html>
<html ng-app="project">
	<head>
		<%= javascript_include_tag 'application' %>
		<%= stylesheet_link_tag    'application', media: 'all' %>
	</head>
	<body>
		<h2>Список дел</h2>
		<div ng-controller="TodoCtrl">
			<span>Осталось {{remaining()}} из {{todos.length}}</span>
			[ <a href="" ng-click="archive()">архив</a> ]
			<ul class="unstyled">
				<li ng-repeat="todo in todos">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
			<form ng-submit="addTodo()">
				<input type="text" ng-model="todoText"  size="30"
							 placeholder="впишите новое дело">
				<input class="btn-primary" type="submit" value="добавить">
			</form>
		</div>
	</body>
</html>